.axisLabel {
  font-size: 1.5em;
  fill: #635f5d;
  color: #635f5d;
}

.marks {
  fill: #137b80;
}

.tick text {
  fill: #635f5d;
  cursor: default;
  font-size: 1em;
}

.tick line {
  fill: none;
  stroke: #ccc;
}
