.marks circle {
  fill: #137b80;
  opacity: 0.3;
}

.marks .land {
  fill: #b5b5b5;
}

.marks .interiors {
  fill: none;
  stroke: #cacaca;
}

.marks .sphere {
  fill: #e8e8e8;
}

.marks .graticules,
.tick line {
  fill: none;
  stroke: #ccc;
}
