.axisLabel {
  font-size: 1.5em;
  fill: #635f5d;
  color: #635f5d;
}

.marks text {
  font-weight: bold;
  font-size: 0.9em;
}

.tooltip {
  fill: black;
}

.tooltipStroke {
  stroke: white;
  stroke-width: 3px;
}

/* .marks rect { */
/*   fill: #7098a5; */
/* } */

.tick text {
  fill: #635f5d;
  cursor: default;
  font-size: 1em;
}

.tick rect {
  fill: #ccc;
  opacity: 0.2;
}

.tick line {
  fill: none;
  stroke: #ccc;
}

.legendLabel {
  font-weight: bold;
  font-size: 1.1rem;
}

.legend text {
  font-size: 1.1rem;
}
