.axisLabel {
  font-size: 1.5em;
  fill: #635f5d;
  color: #635f5d;
}

.marks text {
  font-weight: bold;
  font-size: 0.9em;
}

.tooltip {
  font-weight: bold;
  fill: black;
  cursor: default;
}

.tooltipStroke {
  font-weight: bold;
  stroke: white;
  stroke-width: 3px;
}

/* .marks rect { */
/*   fill: #7098a5; */
/* } */

.tick text {
  fill: #635f5d;
  cursor: default;
  font-size: 1em;
}

.tick rect {
  fill: #ccc;
  opacity: 0.2;
}

.tick line {
  fill: none;
  stroke: #ccc;
}

.legendLabel {
  font-weight: bold;
  font-size: 1.1rem;
}

.legend text {
  font-size: 1.1rem;
}

/* .tooltip { */
/*   position: relative; */
/*   display: inline-block; */
/*   border-bottom: 1px dotted black; */
/* } */

/* .tooltip .tooltiptext { */
/*   visibility: hidden; */
/*   width: 120px; */
/*   background-color: black; */
/*   color: #fff; */
/*   text-align: center; */
/*   border-radius: 6px; */
/*   padding: 5px 0; */
/*   position: absolute; */
/*   z-index: 1; */
/*   bottom: 150%; */
/*   left: 50%; */
/*   margin-left: -60px; */
/* } */

/* .tooltip .tooltiptext::after { */
/*   content: ""; */
/*   position: absolute; */
/*   top: 100%; */
/*   left: 50%; */
/*   margin-left: -5px; */
/*   border-width: 5px; */
/*   border-style: solid; */
/*   border-color: black transparent transparent transparent; */
/* } */

/* .tooltip:hover .tooltiptext { */
/*   visibility: visible; */
/* } */
