.axisLabel {
  font-size: 1.5em;
  fill: #635f5d;
  color: #635f5d;
}

.marks {
  fill: #137b80;
  opacity: 0.5;
}

.tick text {
  fill: #635f5d;
  cursor: default;
  font-size: 1em;
}

.tick line {
  stroke: #ccc;
}

.tooltip {
  fill: black;
}

.tooltipStroke {
  stroke: white;
  stroke-width: 3px;
}
